.textbox {
        border-radius: 50px;
        border: 1px solid black;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        width: fit-content;
        height:fit-content;
}
.container{
        display: flex;
        text-align: center;
        align-items: center;
        border: 1px;
        border-color: red;
}

input{
        border: none;
        outline: none;
        background-color: white;
        
}

#search{
        width: 20px;
        vertical-align: middle;
}