.textbox {

        border-radius: 50px;
        border: 1px solid black;
        padding-left: 15px;
        padding-right: 15px;
        width: fit-content;
}

input{
        border: none;
        outline: none;
}

#search{
        height: 20px;
        width: 20px;
}